<ng-container *ngIf="product">
  <h2>{{ product.title }}</h2>
  <div class="price-container">
    <div class="row">
      <div class="col-md-4" *ngFor="let image of product.images">
        <div class="product-item">
          <img [src]="image" width="340" height="280">
          <p class="price">${{ product.price }}</p>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="!product">
  <p>Producto no Renderizado</p>
</ng-container>



<!--
  1) Como primer paso, aquí renderizamos el {{title}} que hemos generado en nuestro componente product que está en el archivo product.components.ts
  2) En un paso siguiente, dicho {{title}} ha sido cambiado por la palabra {{product.title}}
  3) A continuación renderizamos también la información del producto y las imágenes
  4) La etiqueta <ng-container></ng-container> reemplaza en angular a los <div></div> para no generar más etiquetas HTML, que además encapsulan el contenido
-->
