<h1>Hola {{title}}</h1>  <!--Estamos trayendo el title que aparece en en archivo app.component.ts dentro de @Component({ })-->

<button (click) = "changeTitle()">Change</button>  <!--Aquí vamos a ejecutar la función del cambio de título que está en el archivo app.component.ts dentro de export class AppComponent { }. Como podemos ver, estamos usando el evento click. Al darle click al botón cambiará el saludo a Hola changed-->

<app-product
*ngFor="let product of products"
[product]="product">
</app-product> <!--La directiva *ngFor se utiliza para iterar sobre la matriz products y crear un elemento <app-product> para cada elemento de la matriz. La sintaxis [product]="product" se utiliza para pasar el objeto product a cada elemento <app-product>.  Es una directiva estructural de Angular que se utiliza para crear una lista de elementos en el DOM.-->
